.block
	{
		/*display: flex;
		flex: 1;*/
		width: auto;
		justify-content: space-around;
		text-align: justify;
		min-height: 680px;
	}

.navbar-nav {
    margin-left: 400px;
}

.presentation {
	text-align: justify;
}