.experience,
.competences,
.formation {
	/*display: flex;
		flex: 1;*/
	width: auto;
	justify-content: space-around;
	text-align: justify;
	min-height: 680px;
}

#presentation {
	width: auto;
	justify-content: space-around;
	text-align: justify;
}

#navbarCollapse {
	margin-left: 510px;
	overflow: hidden;
	position: fixed;
	/*display: inline-block;*/
}

.presentation {
	text-align: justify;
}

.row1 {
	margin-top: 22px;
}
